
.interest {
    width: 100%;
    height: 1200px;
    margin-top: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 220px;
    height: 200px;
}
#ex{
    color:white;
    font-size: 40px;
    margin-top: 40px;
}
.interest a{
    color:white;
    font-size: 20px;
}
.imgSpace {
    margin: 5px;
    border-radius: 20%;
    border: 5px solid white;
    background-color: white;
    width: 500px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}
.imgSpace:hover{
    border: 5px solid rgb(250, 128, 128);
}
.imgSpace img{
    width: 440px;
    height: 240px;
    margin-top: 30px;
    margin-left: 30px;
    border: 5px solid white;
}
.interest .interestBox{
    width: 1900px;
    height: 600px;
}
.interest .interestTextBox{
    width: 1200px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    margin-left: 50px;
}
.interest .interestTitle{
    color:white;
    font-size: 90px;
    font-weight: 900;

}
.interest .interestWord{
    color:white;
    font-size: 29px;
    font-weight: 900;

}
.Corporation {
    width: 600px;
    height: 400px;
    border: 10px solid white;
    display: inline-block;
}

.plan {
    width: 100%;
    height: 2000px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.plan img{
    width: 220px;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
}
.plan .planTextBox{
    width: 1200px;
    height: 400px;
    flex-direction: column;
    align-items: left; 
    display: inline-block;
    margin-left: 50px;
}

.plan .planTitle{
    color:white;
    font-size: 90px;
    font-weight: 900;

}
.plan .planWord{
    color:white;
    font-size: 29px;
    font-weight: 900;

}
.resource {
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    align-items: center; /* 가로 방향 가운데 정렬 */
    font-size: 30px;
}
.security{
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    align-items: center; /* 가로 방향 가운데 정렬 */
}
.personal{
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: row; /* 요소를 세로로 배치 */
    align-items: center; /* 가로 방향 가운데 정렬 */
    visibility: hidden;
}
.personal div{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    align-items: center; /* 가로 방향 가운데 정렬 */
    font-weight: 900;
}

