html, body {
    zoom: 0.67; /* 브라우저의 확대/축소 비율을 1로 설정 */
    transform: scale(1); /* 브라우저의 크기 변환 비율을 1로 설정 */
}
.menu{
    display: flex;
    justify-content: center;
     align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-color: white;
}
.menu:after{
    content:'';
    display: block;
    clear:both;
}
.menu li {
    float: left;
}
.menu li a{
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    background-color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: Arial;
    font-weight: 900;
}
.menu li a:hover{
    background-color: black;
    color : white;
}
